*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   
    background-image: linear-gradient(to right  , rgba(253, 94, 2, 0.8), rgba(207, 97, 23, 0.8));
}

.signup-section{
   position: relative;
    max-width: 114rem;
    height: 95vh;
}

.form-signup{
    position: absolute;
    width: 50%;
    top: 30%;
    left: 50%;
 
    display: inline-block;
    transform: translate(-50%, -50%);
    
}

.sign-in{
    position: absolute;
    width: 50%;
    top: 65%;
    left: 50%;
    display: inline-block;
    transform: translate(-50%, -50%);
}